* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.orange {
    color: #fda12b;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 600;
}

.navbar-brand span {
    padding-left: 5px;
}
.stickyTop{
    position: sticky;
    top: 0 !important;
    left: 0;
    z-index: 9999999 !important;
    box-shadow: 2px 2px 5px #FDA12B;
}
a.nav-link:hover {
    color: #FDA12B !important;
}
.navbar-nav .nav-link {
    font-size: 16px;
    color: #8d9297;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-link {
    padding: 0 20px !important;
}

.dropdown-menu {
    border: 0 !important;
}

.nav-item .active {
    color: #fda12b !important;
}

.container {
    max-width: 1250px !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.carousel-caption h5 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}

.carousel-caption h1 {
    font-size: 72px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 20px;
    font-weight: 500px;
    padding: 20px 0;
}

.carousel-caption {
    display: flex !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 150px !important;
    align-items: center;
    /* text-align: start; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.506);
}

.org-btn {
    background-color: #FDA12B;
    border: #FDA12B;
    color: #fff;
    padding: 15px 35px;
    transition: .3s;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s;
}

.org-btn:hover {
    transform: scale(1.05);
    transition: .5s;
}


/* ABT US */
.abtSec {
    width: 100%;
    display: flex;
}

.abt-img {
    width: 50%;
}

.abt-text {
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.abt-img img {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-left: 75px;
    position: relative;
    min-height: 400px;
    object-fit: cover !important;
}

.img1 {
    position: relative;
    height: 100%;
}

.img2 {
    position: absolute;
    top: 0;
    padding: 20px;
    background-color: #FDA12B;
    border: 30px solid #fff;
    text-align: center;

}

.img2 h5 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.abtSec {
    padding: 55px 0;
}

.bdr-lef {
    border-left: 5px solid #FDA12B;
    /* -bottom: 25px; */
}

.bdr-lef h5 {
    font-size: 16px;
    color: #8d9297;
    padding-left: 25px;
}

.bdr-lef h2 {
    font-size: 40px;
    font-weight: bold;
    padding-left: 25px;
}

.abt-text p {
    font-size: 16px;
    color: #8d9297;
    padding: 25px 0;
}

.b-btm {
    border-bottom: 1px solid #c9ced3ac;
}

.abt-spl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.abt-spl h3 {
    width: 33%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
}

.abt-spl .fa-check {
    font-size: 35px;
    color: #FDA12B;
    padding-right: 15px;

}




/* FACTS */
.factsec {
    width: 100%;
    display: flex;
}

.facts img {
    width: 100%;
    min-height: 150px;
}

.facts {
    width: 25%;
    position: relative;
}

.fctOverlay {
    position: absolute;
    top: 0;
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.566);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.fctOverlay h2 {
    -webkit-text-stroke: 2px #FDA12B;
    color: transparent;
    font-size: 120px;
}

.fctOverlay h3 {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
}

.fctOverlay p {
    font-size: 16px;
    color: #fff;
}

.fctOverlay a {
    color: #fff;
    transition: .3s;
}

.fctOverlay a:hover {
    text-decoration: none;
    color: #FDA12B;
    transition: .3s;

}

/*  */

.abt-spll .ch4 {
    width: 50% !important;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    padding: 0 20px;
}

.ch4 h6 {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.abt-spll {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

.ch4 .mp0 {
    margin: 0;
    padding: 10px 0;
}

.abt-img.btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.serLists {
    width: 31%;
    margin: 1%;
    padding-bottom: 20px;
    transition: .3s;
}

.serLists h3 {
    font-size: 20px;
}

.serLists img {
    width: 100%;
    padding-bottom: 20px;
}

.serLists p {
    font-size: 16px;
    padding: 15px 0;
}

.serLists h4 {
    font-size: 16px;
    color: #FDA12B;
    transition: .3s;
}

.serLists h4:hover {
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.serLists:hover {
    background-color: #FDA12B;
    color: #fff;
}

.serLists:hover h4 {
    color: #fff;
    transition: .3s;
}



/* APPOINTMENT */

.aptBaner {
    background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('./images/carousel-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.nam {
    width: 100%;
    display: flex;
}

.nam input {
    width: 48%;
    margin: 1%;
}

.for {
    padding: 0 25px;
}

.for input {
    padding: 15px;
    background-color: #182333;
    margin-bottom: 10px;
    border: 2px solid rgba(94, 80, 80, 0) ;

}

.for textarea {
    background-color: #182333 !important;
}

input,
textarea {
    border: 0;
    margin-bottom: 10px;
    color: gray;
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto-webkit-focus-ring-color !important;
}
input{
    transition: .2s ease-in-out;
}
input:focus-visible {
    outline: 3px solid #fda22b76 !important;
    transition: .2s ease-in-out;
    
    border: 2px solid rgba(94, 80, 80, 0) !important;
}

textarea:focus-visible {
    outline: 3px solid #fda22b76 !important;
    transition: .2s linear;
    border: 0 !important;
}


/* Team */

.for p {
    padding-top: 30px;
    color: #8d9297;
}


/* TEAM */
.team {
    width: 100%;
    display: flex;
}

.teamPer {
    width: 31%;
    margin: 1%;
    position: relative;
}

.teamOverlay {
    background-color: #fff;
    position: absolute;
    bottom: 25px;
    width: 80%;
    padding: 20px;
    transition: .5s ease-in-out;
}

.teamOverlay h2 {
    font-size: 20px;
    font-weight: 500;
}

.teamOverlay h3 {
    font-size: 16px;
    color: #8d9297;
}

.teamPer:hover .teamOverlay {
    width: 100%;
    transition: .3s ease-in-out;
}


.mtnone {
    padding-top: 0 !important;
}


/* TESTIMONIAL */

.ch4 .fa-check {
    color: #FDA12B;
    font-size: 30px;
    padding: 10px 7px;
}

.testi h6 {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ch4 .fa-users {
    color: #FDA12B;
    font-size: 30px;
    padding: 10px 7px;
}

.testi {
    width: 100%;
    display: flex;
    padding: 30px 0;
}

.mk {
    width: 100px !important;

}

.cus p {
    font-size: 20px;
    color: #8d9297;
    padding-top: 15px;
}

.cus h3 {
    font-size: 20px;
    font-weight: bold;
}

.cus h6 {
    font-size: 15px;
    color: #8d9297;
    padding-bottom: 20px;
}

.marbtm {
    border-top: 5px solid #FDA12B;
    width: 75px;
    padding-bottom: 20px;
}

.testi .abt-text {
    padding: 0 30px;
}

.testim {
    width: 50%;
    padding: 0 30px;
}

a.carousel-control-prev.Previous {
    color: black;
    border: 2px solid #FDA12B;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    transition: .3s;
}
a.carousel-control-prev.Previous:hover {
    color: #fff;
    border: 2px solid #FDA12B;
    background-color: #FDA12B;
    transition: .3s;
}

a.carousel-control-next.next {
    color: black;
    border: 2px solid #FDA12B;
    height: 50px;
    border-radius: 50%;
    width: 50px;
}
a.carousel-control-next.next:hover {
    color: #fff;
    border: 2px solid #FDA12B;
    background-color: #FDA12B;
    transition: .3s;
}

.carousel-control-next.next,
.carousel-control-prev.Previous {
    bottom: -80px !important;
    top: 100% !important;
}

.carousel-control-next.next {
    left: 70px;
}

.collapse.show {
    /* height: 100vh;
    position: absolute;
    top: 20px;
    background: red;
    right: 20px;
    z-index: 999 !important; */
}

/* FOOTER */

.bg-footer {
    background-color: #182333;
    color: #fff;
}

.footer {
    padding-top: 50px;
}

.footers {
    width: 100%;
    display: flex;
}

.footersList {
    width: 25%;
    padding: 0 20px;
}

.footers h3 {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 25px;
}

.footers p {
    font-size: 16px;
    color: #999999;
}

.footersList a:hover {
    text-decoration: none;

}

.footersList a {
    transition: .3s;
}

.footersList a:hover p {
    color: #fff !important;
    letter-spacing: 1.5px;
    transition: .3s;
}

.footersList input {
    background-color: #182333;
    border: 2px solid #fff;
    padding: 15px;
}

.bdrBtm {
    border-top: 2px solid #484e57;
    padding-bottom: 30px;
}

hr {
    margin-bottom: 0 !important;
}





/* ABOUT PAGE */

.bg-abt-banner {
    background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(./images/carousel-1.jpg);
    background-size: cover;
    object-fit: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 100px 0;
}

.banner-all h2 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 25px;
}

.pt0 {
    padding-top: 0 !important;
}

.pb75 {
    padding-bottom: 75px;
}
.pl0{
    padding-left: 10px !important;
}
.p0{
    padding: 0 !important;
}



.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1000000000000000000000000 !important;
  }
  .dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    
  }
  .dropdown-item{
    transition: .3s;
    transition: .3s;
    border-radius: 5px;
    padding: 10px;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #FDA12B !important;
    color: #fff;
    transition: .3s;
  }
  .dropdown-item:hover html {
    color: #182333 !important;
  }
/* SERVICES */

.app input {
    background-color: transparent !important;
}
.app textarea{
    background-color: #fff !important;
}

.app textarea {
    padding: 15px;
    margin-left: 6px;
}

.maps{
    min-height: 450px;
    height: 100%;
    width: 100%;
}

/* ERROR 404-PAGE  */
.error{
    text-align: center;
    max-width: 850px !important;
    padding: 100px 50px;
}
.error i{
    font-size: 80px;
    color: #FDA12B;
    padding-bottom: 30px;
}
.error h2{
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 25px;
}
.error h4{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 25px;
}
.error p{
    font-size: 16px;
    color: #8d9297;
    /* font-weight: 500; */
    padding-bottom: 25px;
}


.carousel-control-next, .carousel-control-prev {
font-size: 35px;
color: #fff !important;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
color: #FDA12B !important;
}
.carousel-indicators li:hover{
    cursor: pointer !important;
}

::selection {
    background-color: #FDA12B;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FDA12B;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff9100;
}
.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.collapsing{
    /* transition: .1s !important;
    overflow: hidden !important;
    animation: none !important;
    visibility: hidden !important; */
    transition: none !important;
    position: absolute;
    visibility: hidden !important;
    z-index: -2 !important;
}
.collapse.show {
    display: block;
    position: absolute;
    top: 0;
    background: rgb(255, 255, 255);
    right: 0;
    height: 100vh;
    padding-top: 80px;
    width: 220px;
    transition: all .1s ease-in-out;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    z-index: 9999999 !important;
}
.ww{
    padding-left: 10px !important;
    padding: 50px;
}


/* .navbar-toggler-icon:focus-visible {
    background-image: url("./images/fav.png") !important;
} */


@media (min-width: 1001px) and (max-width: 1200px) {
    .carousel-caption h1{
        font-size: 45px;
    }
    .img2{
        border: 20px solid #fff;
    }
    .abt-spl {
        width: 90%;
    }
    .plef{
        padding-left: 20px !important;
    }
    .facts{
        width: 50%;
    }
    .factsec{
        flex-wrap: wrap;
    }
    .abt-img{
        display: flex;
        align-items: center;
    }
    .abt-img.for {
        display: inline-block;
    }
}
@media (min-width: 801px) and (max-width: 1000px) {

    .carousel-caption h1{
        font-size: 35px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    .carousel-caption{
        padding: 0 50px !important;
    }
    .carousel-indicators li {
        width: 20px;
    }
  .img1{
    width: 70% !important;
  }
    .carousel-control-next, .carousel-control-prev {
        font-size: 20px;
    }

    /* ///// */
    .abtSec{
        flex-direction: column;
    }
    .abt-img {
        width: 98%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .img2 h5 {
        color: #fff;
        font-size: 28px;
    }
    .abt-text {
        width: 98%;
        padding-left: 15px;
    }
    .img2{
        border: 20px solid #fff;
    }
    .bdr-lef h2 {
        font-size: 40px !important;
    }
    .fctOverlay h2 {
        font-size: 120px;
    }
    .factsec{
        flex-wrap: wrap;
    }
    .facts{
        width: 50%;
    }
    .abt-spl{
        flex-direction: row;
        align-items: flex-start ;
    }
    .abt-img.for {
        display: inline-block !important;
    }
    .abt-spl h3 {
        width: 98%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }
    .abt-spl .fa-check {
        font-size: 25px;
    } 
    .abt-spll {
        flex-direction: row;
    }
    .abt-spll .ch4 {
        width: 48% !important;
    }
    .padb{
        padding-bottom: 25px;
    }
    .smp{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .abt-spll .ch4 {
        padding: 0 !important;
    }
    .abt-img.btns {
        display: flex;
        justify-content: start !important;
        align-items: flex-end;
        padding-top: 25px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .services{
        flex-direction: row !important;
    }
    .serLists{
        width: 48%;
    }
    .bdr-lef h2 {
        font-size: 24px;
    }
    .abt-text p {
        font-size: 18px;
    }
    .for {
        padding: 0 8px;
    }
    .team{
        flex-direction: row;
    }
    .teamPer {
        width: 98%;
    }
    .abtSec {
        padding: 20px 0;
    }
    .testi{
        flex-direction: column;
    }
    .ch4.ch3 {
        width: 48% !important;
    }
    .abt-spll.r2.p0 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testim{
        width: 100%;
    }
    .ft{
        margin-top: 50px;
    }
    .cus p{
        font-size: 16px;
    }
    .footers{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footersList{
        width: 48%;
    }
    .footers h3{
        font-size: 20px;
    }
    .abt-spll .ch4 {
        margin: 2px 0;
    }
    .for{
        width: 100% !important;
    }
    .img2{
        padding: 15px;
        border: 25px solid #fff;
    }
    .testim{
        padding-top: 50px;
    }

}

/* NAVBAR */
@media (max-width: 991px) {
    li.nav-item {
        padding: 25px 0 !important;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .team{
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
    }
    .teamPer {
        width: 48% !important;
    }
    .footers{
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
    }
    .footersList{
        width: 48% !important;
    }
    .nam{
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .nam input{
        width: 48% !important;
    }
    .services{
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .serLists{
        width: 48% !important;
    }
    .facts{
        width: 50% !important;
    }
    .facts h2{
        font-size: 60px !important;
    }
}
@media (min-width: 500px) and (max-width: 800px) {
    .carousel-caption h1{
        font-size: 28px;
    }
    .carousel-caption p{
        font-size: 18px;
    }
    .carousel-caption{
        padding: 0 50px !important;
    }
    .carousel-indicators li {
        width: 15px;
    }
    img.w-100.carous01 {
        height: 55vh;
    }
    .carousel-control-next, .carousel-control-prev {
        font-size: 20px;
    }
    .org-btn{
        padding: 10px 25px;
    }
    .abtSec{
        flex-direction: column;
    }
    .abt-img {
        width: 95%;
    }
    .img2 h5 {
        color: #fff;
        font-size: 28px;
    }
    .abt-text {
        width: 98%;
        padding-left: 15px;
    }
    .img2{
        border: 20px solid #fff;
    }
    .bdr-lef h2 {
        font-size: 30px;
    }
    .fctOverlay h2 {
        font-size: 120px;
    }
    .factsec{
        flex-wrap: wrap;
    }
    .facts{
        width: 100%;
    }
    .abt-spl{
        flex-direction: column;
    }
    .abt-spl h3 {
        width: 98%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }
    .abt-spl .fa-check {
        font-size: 25px;
    } 
    .abt-spll {
        flex-direction: column;
    }
    .abt-spll .ch4 {
        width: 98% !important;
    }
    .padb{
        padding-bottom: 25px;
    }
    .smp{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .abt-spll .ch4 {
        padding: 0 !important;
    }
    .abt-img.btns {
        display: flex;
        justify-content: start;
        align-items: flex-end;
        padding-top: 25px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .services{
        flex-direction: column;
    }
    .serLists{
        width: 98%;
    }
    .bdr-lef h2 {
        font-size: 24px;
    }
    .abt-text p {
        font-size: 14px;
    }
    .for {
        padding: 0 8px;
    }
    .team{
        flex-direction: column;
    }
    .teamPer {
        width: 98%;
    }
    .abtSec {
        padding: 20px 0;
    }
    .testi{
        flex-direction: column;
    }
    .ch4.ch3 {
        width: 48% !important;
    }
    .abt-spll.r2.p0 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testim{
        width: 100%;
    }
    .ft{
        margin-top: 50px;
    }
    .cus p{
        font-size: 16px;
    }
    .footers{
        flex-direction: column;
    }
    .footersList{
        width: 98%;
    }
    .footers h3{
        font-size: 20px;
    }
    .abt-spll .ch4 {
        margin: 2px 0;
    }
    .nam{
        flex-direction: column;
    }
    .nam input{
        width: 98%;
    }
    .for{
        width: 100% !important;
    }
    .img2{
        padding: 15px;
        border: 25px solid #fff;
    }
    .testim{
        padding-top: 50px;
    }
}

/* MOBILE */
@media (min-width: 200px) and (max-width: 499px) {
    .banner-all h2 {
        font-size: 36px;
    }
    img.w-100.carous01 {
        height: 55vh;
        object-fit: cover;
    }
    .carousel-caption h1{
        font-size: 26px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
    .carousel-caption{
        padding: 0 30px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
    .carousel-indicators li {
        width: 15px;
    }
    .org-btn{
        padding: 10px 25px;
    }
    .abtSec{
        flex-direction: column;
    }
    .abt-img {
        width: 95%;
    }
    .img2 h5 {
        color: #fff;
        font-size: 20px;
    }
    .abt-text {
        width: 98%;
        padding-left: 15px;
    }    
    .bdr-lef h2 {
        font-size: 30px;
    }
    .fctOverlay h2 {
        font-size: 80px;
    }
    .factsec{
        flex-wrap: wrap;
    }
    .facts{
        width: 100%;
    }
    .abt-spl{
        flex-direction: column;
    }
    .abt-spl h3 {
        width: 98%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }
    .abt-spl .fa-check {
        font-size: 25px;
    }  
    .padb{
        padding-bottom: 25px;
    }  
    .abt-spll {
        flex-direction: column;
    }
    .abt-spll .ch4 {
        width: 98% !important;
    }
    
   .smp{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .abt-spll .ch4 {
        padding: 0 !important;
    }
    .abt-img.btns {
        display: flex;
        justify-content: start;
        align-items: flex-end;
        padding-top: 25px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .services{
        flex-direction: column;
    }
    .serLists{
        width: 98%;
    }
    .bdr-lef h2 {
        font-size: 24px;
    }
    .abt-text p {
        font-size: 14px;
    }
    .for {
        padding: 0 8px;
    }
    .team{
        flex-direction: column;
    }
    .teamPer {
        width: 98%;
    }
    .abtSec {
        padding: 20px 0;
    }
    .testi{
        flex-direction: column;
    }
    .ch4.ch3 {
        width: 48% !important;
    }
    .abt-spll.r2.p0 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testim{
        width: 100%;
    }
    .cus p{
        font-size: 16px;
    }
    .footers{
        flex-direction: column;
    }
    .footersList{
        width: 98%;
    }
    .footers h3{
        font-size: 20px;
    }
    .abt-spll .ch4 {
        margin: 2px 0;
    }
    .nam{
        flex-direction: column;
    }
    .nam input{
        width: 98%;
    }
    .for{
        width: 100% !important;
    }
    .img2{
        padding: 15px;
        border: 25px solid #fff;
    }
    .testim{
        padding-top: 50px;
    }
}